@model IEnumerable<Tag>
@{
    ViewData["Title"] = "Tags List";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Tags List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Tag" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Tag
            </a>
        </div>
    </div>
    </br>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="50%">
                    Tag Name
                </th>
                <th width="30%">
                    Created Date
                </th>
                <th class="text-center" width="10%">Edit</th>
                <th class="text-center" width="10%">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="align-middle">
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.CreatedDateTime.ToShortDateString()
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Tag" asp-action="Edit" asp-route-id="@obj.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-danger mx-2" asp-controller="Tag" asp-action="Delete" asp-route-id="@obj.Id">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>