@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="ApplicationUser" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New User
            </a>
        </div>
    </div>
    </br>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%; padding-top:20px">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="20%">Email</th>
                <th width="15%">Phone Number</th>
                <th width="15%">Street Address</th>
                <th width="10%">Suburb</th>
                <th width="5%">State</th>
                <th width="5%">Postcode</th>
                <th width="15%">Edit/Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}