<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-question my-float"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary fw-bold" id="exampleModalLabel">Jake Drink Store Guide</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-info fw-bold">User Logins</h5>
                <p>There are three types of Login Users in the Application. Each type of user has different role and access.</p>
                <ul>
                    <li>Admin User - <i class="text-primary fw-bold">admin@jakelin.com.au</i></li>
                    <li>Customer User (Default in Register) - <i class="text-primary fw-bold">customer@jakelin.com.au</i></li>
                    <li>Company User - <i class="text-primary fw-bold">company@jakelin.com.au</i></li>
                </ul>
                <p>The password for all the users is <i class="text-primary fw-bold">Pa$$w0rd</i></p>
                <p>You can also login using your <i class ="text-primary fw-bold">Facebook Account</i> and you won't need to enter Email and Password when you log in again.</p>
                <h5 class="text-info fw-bold">Stripe Payment Card</h5>
                <p>This is a testing card for Stripe Payment. This card can be used when you make a payment in checkout.</p>
                <ul>
                    <li>Card Number - <b class="text-primary">4242 4242 4242 4242</b></li>
                    <li>Expiry Date - <b class="text-primary">12 / 34</b></li>
                    <li>CVC - <b class="text-primary">123</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>